In [7]:
import pandas as pd
import numpy as np

In [8]:
filtered_idv_score_expert = pd.read_csv('filterd_url_idvscore.csv')

In [9]:
filtered_idv_score_expert

                                            ;url;idvscore
0          0;https://www.metacritic.com/movie/bronson;100
1           1;https://www.metacritic.com/movie/bronson;90
2           2;https://www.metacritic.com/movie/bronson;90
3           3;https://www.metacritic.com/movie/bronson;83
4           4;https://www.metacritic.com/movie/bronson;80
...                                                   ...
238968  238968;https://www.metacritic.com/movie/spirit...
238969  238969;https://www.metacritic.com/movie/spirit...
238970  238970;https://www.metacritic.com/movie/spirit...
238971  238971;https://www.metacritic.com/movie/spirit...
238972  238972;https://www.metacritic.com/movie/spirit...

[238973 rows x 1 columns]

In [10]:
# split the column based on semicolons (;)

# First, split the combined column into separate components
filtered_idv_score_expert[['index', 'url', 'idvscore']] = filtered_idv_score_expert[';url;idvscore'].str.split(';', expand=True)

# Remove the 'index' column as it duplicates the index
filtered_idv_score_expert.drop(columns=['index'], inplace=True)

# Convert the 'idvscore' column to numeric type in case you want to use it later
filtered_idv_score_expert['idvscore'] = pd.to_numeric(filtered_idv_score_expert['idvscore'])

# Check the result
filtered_idv_score_expert.head()

,;url;idvscore,url,idvscore
0,0;https://www.metacritic.com/movie/bronson;100,https://www.metacritic.com/movie/bronson,100.0
1,1;https://www.metacritic.com/movie/bronson;90,https://www.metacritic.com/movie/bronson,90.0
2,2;https://www.metacritic.com/movie/bronson;90,https://www.metacritic.com/movie/bronson,90.0
3,3;https://www.metacritic.com/movie/bronson;83,https://www.metacritic.com/movie/bronson,83.0
4,4;https://www.metacritic.com/movie/bronson;80,https://www.metacritic.com/movie/bronson,80.0

In [11]:
filtered_idv_score_expert = filtered_idv_score[['url', 'idvscore']]

In [12]:
filtered_idv_score_expert

                                                   url  idvscore
0             https://www.metacritic.com/movie/bronson     100.0
1             https://www.metacritic.com/movie/bronson      90.0
2             https://www.metacritic.com/movie/bronson      90.0
3             https://www.metacritic.com/movie/bronson      83.0
4             https://www.metacritic.com/movie/bronson      80.0
...                                                ...       ...
238968  https://www.metacritic.com/movie/spirited-away      80.0
238969  https://www.metacritic.com/movie/spirited-away      75.0
238970  https://www.metacritic.com/movie/spirited-away      75.0
238971  https://www.metacritic.com/movie/spirited-away      75.0
238972  https://www.metacritic.com/movie/spirited-away      75.0

[238973 rows x 2 columns]

In [20]:
# Rename the 'idvscore' column to 'idv_score_expert'
filtered_idv_score_expert.rename(columns={'idvscore': 'idv_score_expert'}, inplace=True)

# Check the updated dataframe
filtered_idv_score_expert.head()

                                        url  idv_score_expert
0  https://www.metacritic.com/movie/bronson             100.0
1  https://www.metacritic.com/movie/bronson              90.0
2  https://www.metacritic.com/movie/bronson              90.0
3  https://www.metacritic.com/movie/bronson              83.0
4  https://www.metacritic.com/movie/bronson              80.0

In [14]:
# Extract the movie name from the URL by splitting on '/' and taking the last part
#filtered_idv_score['movie'] = filtered_idv_score['url'].str.split('/').str[-1]

# Display the updated dataframe to check the new 'movie' column
#filtered_idv_score.head()

                                        url  idvscore    movie
0  https://www.metacritic.com/movie/bronson     100.0  bronson
1  https://www.metacritic.com/movie/bronson      90.0  bronson
2  https://www.metacritic.com/movie/bronson      90.0  bronson
3  https://www.metacritic.com/movie/bronson      83.0  bronson
4  https://www.metacritic.com/movie/bronson      80.0  bronson

In [13]:
# Excel file in map
bestand_naam = 'UserReviewsClean43LIWC.xlsx'

# Load excel file
filtered_idv_score_user = pd.read_excel(bestand_naam)

In [14]:
filtered_idv_score_user.head()

,url,idvscore,reviewer,dateP,Rev,thumbsUp,thumbsTot,WC,Analytic,Clout,...,Comma,Colon,SemiC,QMark,Exclam,Dash,Quote,Apostro,Parenth,OtherP
0,https://www.metacritic.com/movie/bronson,8,'Longbottom94',"'Apr 25, 2013'",'Many have dismissed this film for not explor...,2,2,113,94.05,32.91,...,4.42,0.0,0.0,0.0,0.0,0.88,0,1.77,0.00,0.0
1,https://www.metacritic.com/movie/bronson,9,'MartinB',"'Oct 13, 2009'",'Anyone who doesn t like this movie simply ju...,0,1,103,57.11,38.53,...,0.97,0.0,0.0,0.0,0.0,0.00,0,1.94,5.83,0.0
2,https://www.metacritic.com/movie/bronson,10,'Jaakko',"'Jul 19, 2012'",'Not sure what to think at this film at first...,1,1,143,75.73,66.27,...,0.70,0.0,0.0,0.0,0.0,0.00,0,1.40,0.00,1.4
3,https://www.metacritic.com/movie/bronson,6,'CapoR',"'Oct 13, 2009'",'Nicely portrayed but it lacks the elements t...,0,1,14,83.81,23.75,...,0.00,0.0,0.0,0.0,0.0,0.00,0,14.29,0.00,0.0
4,https://www.metacritic.com/movie/bronson,8,'OrwellB.',"'Oct 10, 2009'",'Bronson is more than entertainment. It is ar...,0,0,20,93.26,69.14,...,0.00,0.0,0.0,0.0,0.0,0.00,0,10.00,0.00,0.0

In [15]:
filtered_idv_score_user = filtered_idv_score_user[['url', 'idvscore']]

In [17]:
filtered_idv_score_user

                                                   url idvscore
0             https://www.metacritic.com/movie/bronson        8
1             https://www.metacritic.com/movie/bronson        9
2             https://www.metacritic.com/movie/bronson       10
3             https://www.metacritic.com/movie/bronson        6
4             https://www.metacritic.com/movie/bronson        8
...                                                ...      ...
319657  https://www.metacritic.com/movie/spirited-away       10
319658  https://www.metacritic.com/movie/spirited-away       10
319659  https://www.metacritic.com/movie/spirited-away       10
319660  https://www.metacritic.com/movie/spirited-away       10
319661  https://www.metacritic.com/movie/spirited-away       10

[319662 rows x 2 columns]

In [21]:
# Rename the 'idvscore' column to 'idv_score_expert'
filtered_idv_score_user.rename(columns={'idvscore': 'idv_score_user'}, inplace=True)

# Check the updated dataframe
filtered_idv_score_user.head()

                                        url idv_score_user
0  https://www.metacritic.com/movie/bronson              8
1  https://www.metacritic.com/movie/bronson              9
2  https://www.metacritic.com/movie/bronson             10
3  https://www.metacritic.com/movie/bronson              6
4  https://www.metacritic.com/movie/bronson              8

In [27]:
# Merge the two dataframes on the 'url' column
merged_df = pd.merge(filtered_idv_score_expert, filtered_idv_score_user, on='url', how='inner')

# Display the first few rows to check the result
merged_df.head()

                                        url  idv_score_expert idv_score_user
0  https://www.metacritic.com/movie/bronson             100.0              8
1  https://www.metacritic.com/movie/bronson             100.0              9
2  https://www.metacritic.com/movie/bronson             100.0             10
3  https://www.metacritic.com/movie/bronson             100.0              6
4  https://www.metacritic.com/movie/bronson             100.0              8

In [30]:
merged_df.head()

                                        url  idv_score_expert idv_score_user
0  https://www.metacritic.com/movie/bronson             100.0              8
1  https://www.metacritic.com/movie/bronson             100.0              9
2  https://www.metacritic.com/movie/bronson             100.0             10
3  https://www.metacritic.com/movie/bronson             100.0              6
4  https://www.metacritic.com/movie/bronson             100.0              8

In [31]:
# Save the filtered dataset as a CSV file
merged_df.to_csv('merged_df.csv', index=False)

In [32]:
merged_df = pd.read_csv('merged_df.csv')

/var/folders/fn/hvc91ggd2y15nbpj5h857csm0000gn/T/ipykernel_3585/1804252756.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv('merged_df.csv')

In [33]:
merged_df.head()

                                        url  idv_score_expert idv_score_user
0  https://www.metacritic.com/movie/bronson             100.0            8.0
1  https://www.metacritic.com/movie/bronson             100.0            9.0
2  https://www.metacritic.com/movie/bronson             100.0           10.0
3  https://www.metacritic.com/movie/bronson             100.0            6.0
4  https://www.metacritic.com/movie/bronson             100.0            8.0

In [34]:
# Check the column names to confirm the exact names in the dataframe
print(merged_df.columns)

Index(['url', 'idv_score_expert', 'idv_score_user'], dtype='object')

In [35]:
# Extract the movie name from the URL by splitting on '/' and taking the last part
merged_df['movie'] = merged_df['url'].str.split('/').str[-1]

# Rearrange columns to show 'movie', 'idv_score_expert', and 'idv_score_user'
merged_df = merged_df[['movie', 'idv_score_expert', 'idv_score_user']]

merged_df.head()

     movie  idv_score_expert idv_score_user
0  bronson             100.0            8.0
1  bronson             100.0            9.0
2  bronson             100.0           10.0
3  bronson             100.0            6.0
4  bronson             100.0            8.0

In [37]:
# Convert 'idv_score_expert' and 'idv_score_user' to numeric, invalid parsing will be set as NaN
merged_df['idv_score_expert'] = pd.to_numeric(merged_df['idv_score_expert'], errors='coerce')
merged_df['idv_score_user'] = pd.to_numeric(merged_df['idv_score_user'], errors='coerce')

# Drop rows where either 'idv_score_expert' or 'idv_score_user' is NaN
merged_df.dropna(subset=['idv_score_expert', 'idv_score_user'], inplace=True)

# Check the cleaned dataframe
merged_df.head()

     movie  idv_score_expert  idv_score_user
0  bronson             100.0             8.0
1  bronson             100.0             9.0
2  bronson             100.0            10.0
3  bronson             100.0             6.0
4  bronson             100.0             8.0

In [38]:
# Convert 'idv_score_expert' and 'idv_score_user' to numeric, invalid parsing will be set as NaN
merged_df['idv_score_expert'] = pd.to_numeric(merged_df['idv_score_expert'], errors='coerce')
merged_df['idv_score_user'] = pd.to_numeric(merged_df['idv_score_user'], errors='coerce')

# Replace NaN values with 0 (or any other default value)
merged_df['idv_score_expert'].fillna(0, inplace=True)
merged_df['idv_score_user'].fillna(0, inplace=True)

# Check the updated dataframe
merged_df.head()

     movie  idv_score_expert  idv_score_user
0  bronson             100.0             8.0
1  bronson             100.0             9.0
2  bronson             100.0            10.0
3  bronson             100.0             6.0
4  bronson             100.0             8.0

In [49]:
# Multiply the 'idv_score_user' column by 10
merged_df['idv_score_user'] = merged_df['idv_score_user'] / 10

# Check the updated dataframe
merged_df.head()

     movie  idv_score_expert  idv_score_user
0  bronson             100.0            80.0
1  bronson             100.0            90.0
2  bronson             100.0           100.0
3  bronson             100.0            60.0
4  bronson             100.0            80.0

In [50]:
merged_df.head()

     movie  idv_score_expert  idv_score_user
0  bronson             100.0            80.0
1  bronson             100.0            90.0
2  bronson             100.0           100.0
3  bronson             100.0            60.0
4  bronson             100.0            80.0

In [51]:
#Save the filtered dataset as a CSV file 
merged_df.to_csv('merged_user_and_expert_final_df.csv', index=False)